@import "fontFaces";
@import "background";
@import "baseStyles";

.accordion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  height: auto;
  padding: 40px 40px 20px 40px;
  border-radius: 20px;
}

.accordion-header {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  flex: 0.5;
  color: $darkPurple;
  margin-bottom: 20px;
  h1 {
    font-size: 52px;
    font-weight: bold;
  }
}

.accordion-body {
  width: 100%;
  list-style-type: none;
}

.qna {
  border-bottom: 1px solid $lightPink;
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
  &:last-of-type {
    border-bottom: none;
  }
}

.question {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: $darkPurple;
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    background: none;
    border: none;
    height: 100%;
    text-align: left;
    flex: 1;
    cursor: pointer;
    &:active {
      color: $purple;
    }
  }
  span {
    display: flex;
    cursor: pointer;
  }
}

.answer {
  text-align: justify;
  color: $grayishPurple;
  margin-bottom: 10px;
  p {
    margin-bottom: 20px;
  }
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
