@import "fontFaces";
@import "background";
@import "baseStyles";

$headerFontSize: 52px;
$questionFontSize: 16px;

.accordion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-width: 310px;
  max-width: 650px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  height: auto;
  padding: 40px 40px 20px 40px;
  border-radius: 20px;
}

.accordion-header {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  flex: 0.5;
  color: $darkPurple;
  margin-bottom: 20px;
  h1 {
    font-size: $headerFontSize;
    font-weight: bold;
  }
}

.accordion-body {
  width: 100%;
  list-style-type: none;
}

.qna {
  border-bottom: 1px solid $lightPink;
  padding: 10px;
  // margin-top: 10px;
  width: 100%;
  text-decoration: none;
  &:last-of-type {
    border-bottom: none;
  }
}

.question {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: $darkPurple;
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $questionFontSize;
    font-weight: 600;
    outline: none;
    background: none;
    border: none;
    height: 100%;
    text-align: left;
    flex: 1;
    cursor: pointer;
    &:active {
      color: $purple;
    }
  }
  span {
    display: flex;
    cursor: pointer;
    // height: 40px;
  }
}

.answer {
  text-align: justify;
  color: $grayishPurple;
  // margin-bottom: 10px;
  p {
    margin-bottom: 20px;
  }
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

@media screen and (max-width: 768px) {
  .accordion {
    padding: 10px 10px 10px 10px;
    justify-content: space-around;
  }
  .accordion-header {
    margin-bottom: 0px;
    h1 {
      font-size: calc($headerFontSize/1.3);
    }
  }
  .question > button {
    font-size: calc($questionFontSize/1.3);
    span:first-of-type {
      max-width: 80%;
      height: auto;
    }
    span {
      height: 25px;
    }
  }
  .answer > p {
    font-size: calc($questionFontSize/1.3);
  }
}

// @media screen and (min-width: 481px) and (max-width: 768px) {
//   .accordion {
//     padding: 10px 10px 10px 10px;
//   }
//   .accordion-header > h1 {
//     font-size: calc($headerFontSize/1.3);
//   }
//   .question > button {
//     font-size: calc($questionFontSize/1.3);
//     span {
//       height: 25px;
//     }
//   }
//   .answer > p {
//     font-size: calc($questionFontSize/1.3);
//   }
// }
